<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>TIW-GestioneDiImmagini(con JavaScript)</display-name>
  <context-param>
    <param-name>images_folder</param-name>
    <param-value>C:\\Users\\Andrea\\Desktop\\user_images\\con JavaScript</param-value>
  </context-param>
  <servlet>
    <servlet-name>DoRegister</servlet-name>
    <servlet-class>controllers.actionsPerformers.DoRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegister</servlet-name>
    <url-pattern>/DoRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoDeleteImage</servlet-name>
    <servlet-class>controllers.actionsPerformers.DoDeleteImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteImage</servlet-name>
    <url-pattern>/DoDeleteImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoSortAlbum</servlet-name>
    <servlet-class>controllers.actionsPerformers.DoSortAlbum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSortAlbum</servlet-name>
    <url-pattern>/DoSortAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoDeleteAlbum</servlet-name>
    <servlet-class>controllers.actionsPerformers.DoDeleteAlbum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteAlbum</servlet-name>
    <url-pattern>/DoDeleteAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>controllers.pagesCreators.publics.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controllers.pagesCreators.publics.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImagePage</servlet-name>
    <servlet-class>controllers.pagesCreators.privates.ImagePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImagePage</servlet-name>
    <url-pattern>/ImagePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlbumPage</servlet-name>
    <servlet-class>controllers.pagesCreators.privates.AlbumPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumPage</servlet-name>
    <url-pattern>/AlbumPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SortAlbumPage</servlet-name>
    <servlet-class>controllers.pagesCreators.privates.SortAlbumPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortAlbumPage</servlet-name>
    <url-pattern>/SortAlbumPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoPostComment</servlet-name>
    <servlet-class>controllers.actionsPerformers.DoPostComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPostComment</servlet-name>
    <url-pattern>/DoPostComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoCreateAlbum</servlet-name>
    <servlet-class>controllers.actionsPerformers.DoCreateAlbum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCreateAlbum</servlet-name>
    <url-pattern>/DoCreateAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>controllers.pagesCreators.privates.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAlbum</servlet-name>
    <servlet-class>controllers.pagesCreators.privates.CreateAlbum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAlbum</servlet-name>
    <url-pattern>/CreateAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Homepage</servlet-name>
    <servlet-class>controllers.pagesCreators.privates.Homepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homepage</servlet-name>
    <url-pattern>/Homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoUploadImage</servlet-name>
    <servlet-class>controllers.actionsPerformers.DoUploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUploadImage</servlet-name>
    <url-pattern>/DoUploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoLogout</servlet-name>
    <servlet-class>controllers.actionsPerformers.DoLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogout</servlet-name>
    <url-pattern>/DoLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoLogin</servlet-name>
    <servlet-class>controllers.actionsPerformers.DoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogin</servlet-name>
    <url-pattern>/DoLogin</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>